import { Tax } from './Tax'

// describe('Tax test - ', () => {

  // it('getProLabore when 28 amount percentage is lesser than the minimum wage value', () => {
  //   const tax = new Tax(2000, 28, 0, 0, 1100)
    
  //   expect(tax.getProLabore()).toBe(1100)
  // })

  // it('getProLabore when 28 amount percentage is equals or bigger than the minimum wage value', () => {
  //   const tax = new Tax(4000, 28, 0, 0, 1100)
    
  //   expect(tax.getProLabore()).toBe(1120)
  // })

  // it('getINSSTax', () => {
  //   const tax = new Tax(2000, 28, 11, 0, 1100)
    
  //   expect(tax.getINSSTax()).toBe(121)
  // })

  // it('getDASTax', () => {
  //   const tax = new Tax(100, 0, 0, 3.05, 0)
    
  //   expect(tax.getDASTax()).toBe(3.05)
  // })

  // it('getDLA', () => {
  //   const tax = new Tax(2000, 28, 11, 3.05, 1100)
    
  //   expect(tax.getDLA()).toBe(718)
  // })

  // it('getDLAWithContabilizeiMonthlyPayment', () => {
  //   const tax = new Tax(2000, 28, 11, 3.05, 1100)
    
  //   expect(tax.getDLAWithContabilizeiMonthlyPayment(89)).toBe(629)
  // })

  // const show = new Tax(4157.94, 28, 11, 3.05, 1100)
  // console.log(`Pro Labore - ${show.getProLabore()}`)
  // console.log(`INSS IMPOSTO - ${show.getINSSTax()}`)
  // console.log(`DAS IMPOSTO - ${show.getDASTax()}`)
  // console.log(`DLA - ${show.getDLAWithContabilizeiMonthlyPayment(89)}`)
  
// })